.bar {
  width: 100%;
  border: 1px solid #ccc;
  height: 46px;
  line-height: 46px;
  display: flex;
}

.bar-fill {
  height: 100%;
  background: #e0e0e0;
  border-right: 1px solid #fff;
  align-self: center;
  text-indent: 8px;
  transition: .3s ease;

  &:hover {
    background: darken(#e0e0e0, 5%);
  }

  a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
  }

  &.active {
    background: $fontyspaars;
    color: #fff;

    &:hover {
      background: lighten($fontyspaars, 5%);
    }
  }

  &.green {
    background: $green;

    &:hover {
      background: lighten($green, 8%);
    }
  }

  &.red {
    background: $red;

    &:hover {
      background: lighten($red, 8%);
    }
  }
}


.bar-numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  &.small {
    margin-bottom: 15px;
  }
}

table .bar-numbers {
  margin: 0;
}

table .bar {
  margin-top: 20px;
}

.bar-remaining {
  flex: 1;
  text-align: center;
  text-indent: 11px;
}
