// Border-box
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ng-view {
  transition: 100ms all ease-out;
  display: block;
  opacity: 1;

  &.ng-enter, &.ng-leave {
    opacity: 0;
  }
}

// Angular stuff, probably not necessary
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
