input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: .31em;
  margin-bottom: 1em;
  margin-top: .1em;
}

input[type="submit"] {
  border: 0;
  padding: .31em;
  color: $black;
  border: 2px solid currentColor;
  background: transparent;
  max-width: 100%;

  &:hover {
	color: $green;
  }
}

input[type=checkbox]:checked {
   background: red;
}
