// Colours
	// Grayscale
	$black: #111;
	$white: #FFF;
	$colourHover: #EBEBEB;
	$colourSelected: #DDD;

$red: #CC4037;
$blue: #2658C9;
$green: #2EB263;
$fontyspaars: #636;

// https://color.adobe.com/nl/create/color-wheel/?base=4&rule=Analogous&selected=1&name=Mijn%20Color-thema&mode=hsv&rgbvalues=0.83,0.5322301177410101,0.3240914886615882,0.8,0.2509666743011003,0.21600000000000003,0.40875250332882235,0.2622,0.69,0.3059028814690858,0.4347467714914491,0.73,0.4,0.2,0.4&swatchOrder=0,1,2,3,4

// Shadows
$overlapping: 0 0 0.8rem rgba(0,0,0,.2);

// Media queries
$break-small: 980px;