.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    padding: .7em 1.1em;
    width: 100%;
    display: block;
    text-decoration: none;
    color: $black;

    &:hover {
      background: #EBEBEB;
    }

    &:active, &.active:active {
      background: #BBB;
    }

    &.active {
      background: #DDD;
    }
  }
}

.sidebar-add-icon {
  text-decoration: none;
  color: $black;
  font-weight: 300;
  font-size: 1.6rem;
  padding: .3rem 0;
  display: flex;

  span {
    margin-left: calc(50% - .5ch);
    display: block;
    transition: 250ms transform, 250ms margin ease;
  }

  &:hover {
    background: #EBEBEB;
  }

  &.close {
    background: #EBEBEB;

    span {
      transform: rotate(135deg);
      margin-left: calc(100% - 1.85rem);
    }

    &:hover {
      color: $red;
    }
  }
}

.subject-add {
  background: #EBEBEB;
  padding: 1rem;
  margin-top: -3.2rem;
  display: flex;
  flex-direction: column;

  input[type="submit"] {
    self-align: flex-end;
  }
}
