.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    .clickable {
      display: flex;
      flex-flow: row no-wrap;

      &:hover {
        background: #EBEBEB;
      }

      &.active {
        background: $fontyspaars;

        &:hover {
          background: lighten($fontyspaars, 5%);
        }

        a {
          color: #fff;
        }
      }

      &:active {
        background: #BBB;
      }
    }
  }

  a {
    padding: .7em 1.1em;
    width: 100%;
    display: block;
    text-decoration: none;
    color: $black;
    flex: 1;
    min-height: 2.8em;

    &.ng-hide {
      display: block !important;
      visibility: hidden;
    }
  }

  .close {
    flex: 0;
    padding-right: 1.5rem;
    position: relative;
    z-index: 2;
    background: url('/img/pencil.svg') no-repeat center center;

    &.ng-hide {
      display: block !important;
      visibility: visible;
      background-image: url('/img/pencil-coloured.svg');
    }
  }

  .active {
    form {
      background: #773C77;
      color: white;

      input[type="submit"], input[type="button"] {
        color: white;
        border-width: 1px;

        &:hover {
          color: tint($fontyspaars, 70%);
        }
      }

      input[type="text"]{
        color: $black;
      }
    }

    .close {
      background: url('/img/pencil-white.svg') no-repeat center center;
      
      &.ng-hide {
        display: block !important;
        visibility: visible;
        background-image: url('/img/pencil-coloured-white.svg');
      }

    }
  }
}

.sidebar-add-icon {
  text-decoration: none;
  color: $black;
  font-weight: 300;
  font-size: 1.6rem;
  padding: .3rem 0;
  display: flex;

  span {
    margin-left: calc(50% - .5ch);
    display: block;
    transition: 250ms transform, 250ms margin ease;
  }

  &:hover {
    background: #EBEBEB;
  }

  &.close {
    background: #EBEBEB;

    span {
      transform: rotate(135deg);
      margin-left: calc(100% - 1.85rem);
    }

    &:hover {
      color: $red;
    }
  }
}

.sidebar-edit {
  background: #EBEBEB;
  padding: 0.7rem 1rem 1rem;
  margin-top: -2.8rem;
  display: flex;
  flex-direction: column;
  
  // Delete description
  input[type="button"] {
    width: 2.8rem;

    &:hover {
      color: $red;
    }
  }

  // Save description
  input[type="submit"] {
    width: 100%;
    margin-left: .5rem;

    @media screen and (max-width: $break-small) {
      font-size: .8rem;
    }
  }

}

.editcontrols {
  display: flex;
}

.sub-sidebar-small {
  width: 7rem;

  &:nth-child(2) {
    z-index: 1;
  }
}
