@charset "UTF-8";

// Vendor dependencies
@import "settings";
@import "reset";
@import "base";
@import "typography";
@import "forms";
@import "login";

body {
  background: $white;
}


/*
 * Layout
 */

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background: $white;
  display: flex;
  box-shadow: $overlapping;
  position: relative;
  z-index: 2;
}

.container {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.sidebar {
  width: 12.5rem;
  background: #f9f9f9;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  box-shadow: $overlapping;

  @media screen and (max-width: $break-small) {
    width: 8.5em;
  }
}

.sub-sidebar {
  background: #f9f9f9;
  width: 12.5rem;
  overflow-y: scroll;
  box-shadow: $overlapping;

  @media screen and (max-width: $break-small) {
    width: 8.5em;
  }
}

.content {
  flex: 1;
  overflow-y: scroll;
  padding: 0 2rem;
}

/*
 * Styles
 */
@import "header";
@import "sidebar";
@import "table";
@import "content";
@import "selectize";
