<h1>To-Do</h1>

<div ng-repeat="term in terms" class="dashboard">
  <h2>{{term.name}}</h2>

  <table ng-table="tableParams(term.slug)" class="table table-select">
    <tr ng-repeat="subject in $data" ng-if="checkZero(subject)">
      <td data-title="'Vak'" sortable="'name'">
        <a href="/{{term.slug}}/{{subject.slug}}">
          {{subject.name[0]}}
        </a>
      </td>
      <td data-title="'Docenten'">
        <div ng-repeat="teacher in subject.teachers" ng-if="teacher.hours === 0">
          {{teacher.name}}
        </div>
        <div ng-if="!subject.teachers.length">
          <a href="/{{term.slug}}/{{subject.slug}}" class="button">Kies een docent</a>
        </div>
      </td>
      <td data-title="'Uren'">
        <div ng-repeat="teacher in subject.teachers">
          <span ng-if="teacher.hours === 0">
            <a href="/{{term.slug}}/{{subject.slug}}" class="button">Deel uren in</a>
          </span>
        </div>
        <div ng-if="!subject.teachers.length">
          <a href="/{{term.slug}}/{{subject.slug}}" class="button">Deel uren in</a>
        </div>
      </td>
    </tr>
  </table>
</div>
