<h1>Dashboard</h1>

<!-- TEAMLEIDER -->
<div ng-if="loginGroup === 'team'">
  <table ng-table="tableParams()" class="table table-select">
    <tr ng-repeat="termpje in $data">
      <td data-title="'Naam'" sortable="'name'" class="shrink">
        <strong>{{termpje.name}}</strong>
      </td>
      <td data-title="'Eigenaar'" sortable="'owner'" class="shrink">
        {{termpje.owner}}
      </td>
      <td data-title="'Vakken'"  class="expand">

        <div class="bar">
          <div class="bar-fill" ng-repeat="subjectAll in termpje.subjects" ng-style="{'width': (getHoursOfSubject(termpje.slug, subjectAll.slug) / termpje.hours) * 100 + '%'}" ng-class="{'active': subjectAll.name[0] === subject.name[0]}" ng-hide="getHoursOfSubject(termpje.slug, subjectAll.slug) === 0"><a href="/{{termpje.slug}}/{{subjectAll.slug}}">{{subjectAll.name[0]}}</a></div>
          <div class="bar-remaining">
            {{getTermHoursRemaining(termpje.slug)}}
          </div>
        </div>
        <div class="bar-numbers">
          <div class="bar-min">0</div>
          <div class="bar-max">{{termpje.hours}}</div>
        </div>

      </td>
    </tr>
  </table>
</div>


<!-- BLOKEIGENAAR -->
<div ng-if="loginGroup === 'blok'">
  <div ng-repeat="term in terms" class="dashboard">
    <h2>{{term.name}}</h2>

    <table ng-table="tableParams(term.slug)" class="table table-select">
      <tr ng-repeat="subject in $data">
        <td data-title="'Vak'" sortable="'name'">
          <a href="/{{term.slug}}/{{subject.slug}}">
            {{subject.name[0]}}
          </a>
        </td>
        <td data-title="'Docenten (vrije uren)'">
          <div ng-repeat="teacher in subject.teachers" class="flex-around">
            <span>
              {{teacher.name}}
            </span>
            <span>
              ({{getFreeTeacherHours(teacher.name)}})
            </span>
          </div>
          <div ng-if="!subject.teachers.length">
            <a href="/{{term.slug}}/{{subject.slug}}" class="button">Kies een docent</a>
          </div>
        </td>
        <td data-title="'Uren'">
          <div ng-repeat="teacher in subject.teachers" class="center">
            <span ng-if="teacher.hours === 0">
              <a href="/{{term.slug}}/{{subject.slug}}" class="button">Deel uren in</a>
            </span>
            <span ng-if="teacher.hours > 0">
              {{teacher.hours}}
            </span>
          </div>
          <div ng-if="!subject.teachers.length">
            <a href="/{{term.slug}}/{{subject.slug}}" class="button">Deel uren in</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
