<h1 class="has-subtitle">{{subject.name}}</h1>
<p>
  <span class="subtitle">{{subject.description}} &ndash; {{subject.hours}} uur</span>
</p>

<div selectize="selectConfig" options="selectOptions" ng-model="selectModel"></div>

<table ng-table="tableParams" class="table table-select">
  <tr ng-repeat="user in $data" ng-class="{'active': getTeacher(user.name)}">
    <td>
      <input type="checkbox" ng-checked="getTeacher(user.name)" ng-click="addTeacher(user.name)">
    </td>
    <td data-title="'Naam'" sortable="'name'">
      {{user.name}}
    </td>
    <td data-title="'Vrije uren'" sortable="'free_hours'">
      {{user.free_hours}}
    </td>
    <td data-title="'Skills'" sortable="'skills'">
      {{user.skills}}
    </td>
  </tr>
</table>
