<h1 class="has-subtitle">{{subject.name[0]}}</h1>
<p>
  <span class="subtitle">{{subject.description}}</span>
</p>
<div class="bar">
  <div class="bar-fill" ng-repeat="subjectAll in term.subjects" ng-style="{'width': (getHoursOfSubject(subjectAll.slug) / term.hours) * 100 + '%'}" ng-class="{'active': subjectAll.name[0] === subject.name[0]}" ng-hide="getHoursOfSubject(subjectAll.slug) === 0">{{subjectAll.name[0]}}</div>
  <div class="bar-remaining">
    {{getTermHoursRemaining()}}
  </div>
</div>
<div class="bar-numbers">
  <div class="bar-min">0</div>
  <div class="bar-max">{{term.hours}}</div>
</div>

<table ng-table="tableParams" class="table table-select">
  <tr ng-repeat="user in $data" ng-class="{'active': getTeacher(user.name).hours > 0, 'busy': getTeacher(user.name).hours === 0}">
    <td>
      <input type="checkbox" ng-checked="!!getTeacher(user.name)" ng-click="addTeacher(user.name)">
    </td>
    <td data-title="'Naam'" sortable="'name'">
      {{user.name}}
    </td>
    <td data-title="'Vrije uren'" sortable="'getFreeHours(user.name)'">
      {{getFreeHours(user.name)}}
    </td>
    <td data-title="'Uren toebedeeld'">
      <input type="number" min="0" ng-show="!!getTeacher(user.name)" ng-model="getTeacher(user.name).hours" >
    </td>
  </tr>
</table>
