<h1>Docenten</h1>

<table ng-table="tableParams" class="table table-select">
  <tr ng-repeat="teacher in $data">
    <td data-title="'Naam'" sortable="'name'" class="shrink">
      <strong>{{teacher.name}}</strong>
    </td>
    <td data-title="'Inzet'"  class="expand">
      <div class="bar">
        <div class="bar-fill" ng-repeat="subjectAll in getSubjectsFromTeacher(teacher.name)" ng-style="{'width': (getTeacherHoursOfSubject(subjectAll.term_slug, subjectAll.slug, teacher.name) / teacher.max_hours) * 100 + '%'}">
          <a href="/{{subjectAll.term_slug}}/{{subjectAll.slug}}">{{subjectAll.name[0]}}</a>
        </div>
        <div class="bar-remaining">
          {{getTeacherHoursRemaining(teacher.name)}}
        </div>
      </div>
      <div class="bar-numbers">
        <div class="bar-min">0</div>
        <div class="bar-max">{{teacher.max_hours}}</div>
      </div>
    </td>
  </tr>
</table>
