<h1>Overzicht van <span class="uppercase">{{term.name}}</span></h1>

<p>
  Max: {{term.hours}}
</p>

<table ng-table="tableParams" class="table table-select">
  <tr ng-repeat="subject in $data">
    <td data-title="'Vak'" sortable="'name'">
      <a href="/{{term.slug}}/{{subject.slug}}">
        {{subject.name[0]}}
      </a>
    </td>
    <td data-title="'Beschrijving'" sortable="'description'">
      {{subject.description}}
    </td>
    <td data-title="'Docenten'">
      <div ng-repeat="teacher in subject.teachers">
        {{teacher.name}}
      </div>
    </td>
    <td data-title="'Uren'">
      <div ng-repeat="teacher in subject.teachers">
        {{teacher.hours}}
      </div>
    </td>
  </tr>
</table>
