<h1>Overzicht van {{term}}</h1>

<div selectize="selectConfig" options="selectOptions" ng-model="selectModel"></div>

<table ng-table="tableParams" class="table">
  <tr ng-repeat="subject in $data">
    <td data-title="'Vak'" sortable="'name'">
      <a href="/{{term}}/{{subject.slug}}">
        {{subject.name}}
      </a>
    </td>
    <td data-title="'Beschrijving'" sortable="'description'">
      {{subject.description}}
    </td>
    <td data-title="'Docenten'">
      <div  ng-repeat="teacher in subject.teachers" ng-init="teacherData = getTeacher(teacher)">
        {{teacher}} ({{teacherData.free_hours}})
      </div>
    </td>
    <td data-title="'Uren'" sortable="'hours'">
      {{subject.hours}}
    </td>
  </tr>
</table>
