<!DOCTYPE html>
<html class="no-js" lang="nl" ng-app="inzetApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Inzet App</title>

  <base href="/">

  <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css">
  <link rel="stylesheet" href="css/app.css">

</head>
<body>
  <div class="app" ng-controller="MainCtrl">
    <header>
      <h1>Inzetsysteem</h1>

      <div class="account">
        <span>Judith Gaffert</span><br>
        Blokeigenaar 9 10 11 M
      </div>
    </header>
    <div class="container">
      <div class="sidebar">
        <ul class="sidebar-list" ng-repeat="term in terms">
          <li><a ng-href="{{term.slug}}" ng-class="{'active': term.slug === selectedSidebar}">{{term.name}}</a></li>
        </ul>
      </div>
      <div class="sub-sidebar" ng-show="selectedSidebar">
        <div ng-repeat="term in terms" ng-show="selectedSidebar === term.slug">
          <a ng-href="{{term.slug}}" class="sidebar-overview">Overzicht</a>

          <ul class="sidebar-list" ng-repeat="subject in term.subjects">
            <li><a ng-href="{{term.slug}}/{{subject.slug}}" ng-class="{'active': term.slug === selectedSidebar && subject.slug === subjectSlug}">{{subject.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <ng-view></ng-view>
      </div>
    </div>
  </div>

  <!-- build:js js/plugins.min.js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-selectize2/dist/selectize.js"></script>
  <script src="bower_components/ng-table/ng-table.js"></script>
  <!-- endbuild -->
  <!-- build:js js/bigapp.min.js -->
  <script src="js/app.js"></script>

  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/dashboard.js"></script>
  <script src="js/controllers/subject.js"></script>

  <script src="js/services/user.js"></script>
  <!-- endbuild -->
</body>
</html>
