<!DOCTYPE html>
<html class="no-js" lang="nl" ng-app="inzetApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Inzetsysteem</title>

  <base href="/">

  <!-- build:js css/selectize.css -->
  <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="css/app.css">
  <link rel="icon" href="/favicon.ico">

  <!-- build:js js/plugins.min.js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-selectize2/dist/selectize.js"></script>
  <script src="bower_components/ng-table/ng-table.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/bigapp.min.js -->
  <script src="js/app.js"></script>

  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/dashboard.js"></script>
  <script src="js/controllers/subject.js"></script>
  <script src="js/controllers/term.js"></script>
  <script src="js/controllers/teacher.js"></script>

  <script src="js/services/user.js"></script>
  <script src="js/services/subject.js"></script>
  <script src="js/services/teacher.js"></script>
  <script src="js/services/oer.js"></script>
  <!-- endbuild -->

</head>
<body>
  <div class="app" ng-controller="MainCtrl">
    <header>
      <h1><a href="/">Inzetsysteem</a></h1>

      <div class="account" ng-class="{'account': !isActive, 'account active': isActive}"
       ng-init="isActive = false"
       ng-click="isActive = !isActive">
        <span>Judith Gaffert</span><img src="img/arrow.svg" alt=">" class="arrow" height="12" width="12"><br>
        Media Blokeigenaar
        <a href="login.html" class="logout">Uitloggen</a>
      </div>
    </header>
    <div class="container">
      <div class="sidebar">
        <ul class="sidebar-list">
          <li>
            <div class="clickable" ng-class="{'active': locationPath === '/'}">
              <a href="/">Dashboard</a>
            </div>
          </li>
          <li ng-if="loginGroup === 'team'">
            <div class="clickable" ng-class="{'active': locationPath === '/teachers'}">
              <a href="/teachers">Docenten</a>
            </div>
          </li>
          <li ng-if="loginGroup === 'team'">
            <div class="clickable" ng-class="{'active': selectedSidebar}">
              <a href="/p9">Periodes</a>
            </div>
          </li>
          <li ng-if="loginGroup === 'blok'" ng-repeat-start="term in terms" ng-repeat-end>
            <div class="clickable" ng-class="{'active': term.slug === selectedSidebar}">
              <a ng-href="{{term.slug}}">{{term.name}}</a>
            </div>
          </li>
        </ul>
      </div>

      <!-- BLOKEIGENAREN -->
      <div class="sub-sidebar" ng-if="loginGroup === 'blok' && selectedSidebar">
        <div ng-repeat="term in terms" ng-if="selectedSidebar === term.slug">
          <ul class="sidebar-list">
            <li>
              <div class="clickable" ng-class="{'active': term.slug === selectedSidebar && !subjectSlug}">
                <a ng-href="{{term.slug}}" class="sidebar-overview">Overzicht</a>
              </div>
            </li>
            <li ng-repeat-start="subject in term.subjects" ng-repeat-end>
              <div class="clickable" ng-class="{'active': term.slug === selectedSidebar && subject.slug === subjectSlug}">
                <a ng-href="{{term.slug}}/{{subject.slug}}" ng-hide="showEdit === subject.slug">{{subject.name[0]}}</a>
                <a href="#" class="close" ng-click="editForm(subject.slug)" ng-hide="showEdit === subject.slug"></a>
              </div>

              <form class="sidebar-edit subject-edit" ng-if="showEdit === subject.slug">
                <div class="field">
                  <label for="name">Oercode</label>
                    <selectize config="subjectConfig" placeholder="Selecteer oercode" ng-model="subject.name">
                </div>
                <div class="field">
                  <label for="description">Omschrijving</label>
                  <input type="text" id="description" ng-model="subject.description">
                </div>

                <!-- <div class="editcontrols"> -->
                  <!-- <a href="#" class="delete" ng-click="removeSubject(term.slug, subject)">-</a>
 -->
                  <input type="button" value="Verwijderen" ng-click="removeSubject(term.slug, subject)">

                  <input type="submit" value="Opslaan" ng-click="editForm(subject.slug)">
                <!-- </div> -->
              </form>
            </li>
          </ul>


          <a href="#" ng-click="addForm()" class="sidebar-add-icon" ng-class="{'close' : showAdd}"><span>+</span></a>

          <form class="sidebar-edit subject-add" ng-if="showAdd === true">
            <div class="field">
              <label for="name">Oercode</label>
              <selectize config="subjectConfig" placeholder="Selecteer oercode" ng-model="newSubject.name">
            </div>
            <div class="field">
              <label for="description">Omschrijving</label>
              <input type="text" id="description" ng-model="newSubject.description">
            </div>

            <input type="submit" value="Toevoegen" ng-click="addSubject($index)">
          </form>
        </div>
      </div>

      <!-- TEAMLEIDERS -->
      <div class="sub-sidebar sub-sidebar-small" ng-if="loginGroup === 'team' && selectedSidebar">
        <ul class="sidebar-list" ng-repeat="term in terms">
          <li>
            <div class="clickable" ng-class="{'active': term.slug === selectedSidebar}">
              <a ng-href="{{term.slug}}">{{term.name}}</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="sub-sidebar sub-sidebar-small" ng-if="loginGroup === 'team' && selectedSidebar">
        <ul class="sidebar-list">
          <li>
            <div class="clickable" ng-class="{'active': !subjectSlug}">
              <a ng-href="{{selectedSidebar}}" class="sidebar-overview">Overzicht</a>
            </div>
          </li>
          <li ng-repeat-start="subject in getTerm(selectedSidebar).subjects" ng-repeat-end>
            <div class="clickable" ng-class="{'active': subject.slug === subjectSlug}">
              <a ng-href="{{selectedSidebar}}/{{subject.slug}}">{{subject.name[0]}}</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="content">
        <ng-view></ng-view>
      </div>
    </div>
  </div>
</body>
</html>
